@page "/profile"
@using Client.Models
@using SmartRetail.Client.Services
@using System.Collections
@inject NavigationManager NavHelper
@inject IJSRuntime JSHelper
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col text-center">
                    <h1 style="font-size:50px;">User Profile</h1>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card card-widget widget-user">
                        <div class="widget-user-header bg-info">
                            <h3 class="widget-user-username">@_currentEditUser.Infor.UserName</h3>
                            <h5 class="widget-user-desc"> @string.Join("-", _currentEditUser.Roles)</h5>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle elevation-2" 
                                 src="AdminLte/dist/img/user1-128x128.jpg"
                                 alt="User Avatar">
                        </div>
                        <div class="card-footer">
                            @*<div class="row">
                                <button class="btn btn-danger"
                                        @onclick="SignOutHandle">
                                    Sign Out
                                </button>
                            </div>*@

                            <div class="d-flex justify-content-center">
                                <button class="btn btn-danger"
                                        @onclick="SignOutHandle">
                                    Sign Out
                                </button>
                            </div>

                            <div class="row">
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">3,200</h5>
                                        <span class="description-text">SALES</span>
                                    </div>
                                </div>
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">13,000</h5>
                                        <span class="description-text">FOLLOWERS</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="description-block">
                                        <h5 class="description-header">35</h5>
                                        <span class="description-text">PRODUCTS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="card card-info card-outline">
                        <div class="card-body">
                            <form>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">User Name</label>
                                    <div class="col-sm-10">
                                        <input disabled
                                               autocomplete="off"
                                               value="@_currentEditUser.Infor.UserName"
                                               type="text"
                                               class="form-control"
                                               readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input disabled type="email" autocomplete="off" class="form-control"
                                               value="@_currentEditUser.Infor.Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Phone Number</label>
                                    <div class="col-sm-10">
                                        <input disabled type="text" class="form-control"
                                               value="@_currentEditUser.Infor.PhoneNumber">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Department</label>
                                    <div class="col-sm-10">
                                        <input disabled type="text" class="form-control"
                                               value="@_currentEditUser.Infor.Location">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Company</label>
                                    <div class="col-sm-10">
                                        <input disabled type="text" class="form-control"
                                               value="@_currentEditUser.Infor.Company">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Roles</label>
                                    <div class="col-sm-10 ">
                                        <select disabled
                                                title="--"
                                                data-style="btn-light"
                                                class="form-control selectpicker"
                                                id="slRoles" 
                                                multiple >
                                            @foreach (var obj in Enum.GetValues(typeof(Role)))
                                            {
                                                var value = Enum.GetName(typeof(Role), obj);
                                                var key = (int)obj;
                                                <option value="@key">@value</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>



        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@code {
    CloudUser _currentEditUser = new CloudUser() { Infor = new UserInfor(), Roles = new List<Role>() };
    string AccessToken = "";
    UserService svUser = new UserService();


    protected override async Task OnInitializedAsync()
    {
        AccessToken = await LocalStorage.GetItemAsync<string>("token");
        if (AccessToken == null)
        {
            JSHelper.InvokeVoidAsync("Interop_Swal2Helper", "error", "Please Sign In Again", false);
            NavHelper.NavigateTo("/login"); return;
        }
        _currentEditUser = await svUser.GetUserAllInforAsync(AccessToken);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        JSHelper.InvokeVoidAsync("Interop_InjectBootstrapSelectionById", "slRoles", _currentEditUser.Roles);
        if (!firstRender)
        {
            return;
        }

        //JSHelper.InvokeVoidAsync("AuthUserProfile_InjectBootstrapSelect", _currentEditUser.Roles);
    }

    async Task SignOutHandle()
    {
        await LocalStorage.SetItemAsync("token", "");
        NavHelper.NavigateTo("/login");
    }
}